@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

@layer base {
    html {
        font-size: 16px;
        font-family: "Rubik", sans-serif;
        @apply lg:text-[14px];
        @apply sm:text-[10px];
    }

    body {
        @apply select-none;
    }

}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        @apply hidden;
    }

    .easing-300 {
        @apply transition-all duration-300 ease-linear;
    }

    .form {
        background: rgba(110, 110, 110, .25);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, .18);
        z-index: 1;
        overflow-y: scroll;
    }
}